dist/
*.tsbuildinfo

node_modules/
docs/

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

playground/data/

.env
.env.local
.env.*.local

.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

coverage/
*.lcov
.nyc_output/

Desktop.ini
$RECYCLE.BIN/
